@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300');

* {margin: 0; padding: 0}
li {list-style: none}
img, button {border:0; outline: 0}
a {text-decoration: none; color: #333}
html,body {width:100%; height: 100%;overflow: hidden;}
body {background-color: #333; perspective: 2000px}
#wrap {; width: 1024px; height: 600px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); position: relative; border-radius: 10px; transition: 1s; z-index: 10; overflow: hidden; }
#wrap.action {transform: translate(-50%,-50%) rotateY(30deg); transform-origin: left; }

#wrap .container {width: 100%; height: 100%; background: radial-gradient(#1ce69c,#2ed6c8);background:url('../images/bg.png'); }
#wrap video {position: absolute; left: 0; bottom: 0; width: 150%; z-index: -1;}

#wrap .imgbox {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
#wrap .ham {width: 50px; height: 50px; position: absolute; left: 20px; top: 20px; z-index: 2; cursor: pointer;}
#wrap .ham span {position: absolute; width: 40px; height: 3px; background-color: #fff; transition: .3s}
#wrap .ham span:nth-child(1) {top: 0; left: 0}
#wrap .ham span:nth-child(2) {top: 14px; left: 0}
#wrap .ham span:nth-child(3) {top: 28px; left: 0; width: 25px}

#wrap .ham.action span:nth-child(1) {top: 10px; left: 0; transform: rotate(45deg);}
#wrap .ham.action span:nth-child(2) {opacity: 0}
#wrap .ham.action span:nth-child(3) {top: 18px; left: 0; width: 40px; transform: rotate(-45deg)}


#wrap .gnb {position: absolute;left: 0; top: 10px; z-index: 1; overflow: hidden; }
#wrap .gnb li {width:350px; height: 65px; line-height: 65px; text-align: center; color:#f0f0f0; font-size: 16px; background-color: red; margin-bottom: 4px; margin-left:-100%; transition: .5s; box-shadow: inset -20px 10px 20px rgba(0,0,0,0.2); }
#wrap .gnb li a {color:#f0f0f0; display: block; transition: 0.3s}
#wrap .gnb li:hover a {animation:gnbLi .1s; font-size: 20px; text-indent: 50px}
@keyframes gnbLi {
	0% {background-color:rgba(0,255,242,0);}
	100% {background-color:rgba(0,255,242,0.3);}
}

#wrap .gnb li:nth-child(2) {width:200px;}
#wrap .gnb li:nth-child(3) {width:300px;}
#wrap .gnb li:nth-child(4) {width:150px;}
#wrap .gnb li:nth-child(5) {width:180px;}
#wrap .gnb li:nth-child(6) {width:210px;}
#wrap .gnb li:nth-child(7) {width:300px;}
#wrap .gnb li:nth-child(8) {width:160px;}

#wrap .gnb.action {position: absolute;left: 0; top: 10px; z-index: 1}
#wrap .gnb.action li {width:350px; height: 65px; background-color: rgba(7,122,116,0.8); margin-bottom: 4px; margin-left:0%}
#wrap .gnb.action li:nth-child(2) {width:200px; transition-delay: .05s}
#wrap .gnb.action li:nth-child(3) {width:300px; transition-delay: .1s}
#wrap .gnb.action li:nth-child(4) {width:150px; transition-delay: .15s}
#wrap .gnb.action li:nth-child(5) {width:180px; transition-delay: .2s}
#wrap .gnb.action li:nth-child(6) {width:380px; transition-delay: .25s}
#wrap .gnb.action li:nth-child(7) {width:300px; transition-delay: .3s}
#wrap .gnb.action li:nth-child(8) {width:160px; transition-delay: .35s}

.box {width: 0px; height: 350px; background-color: #000; position: absolute; left: 98%; bottom: 100px; transition: 0.3s; padding: 20px; overflow: hidden; color: transparent; font-size: 1px; border-radius: 0 30px 30px 0; transform: rotateY(60deg); transform-origin: right }
.box.action {width: 320px; left: 80%; background-color: #913c5f; box-shadow: -30px 10px 30px rgba(0,0,0,0.2); color: #f0f0f0; font-size: 20px; border-radius: 30px; transform: rotateY(0deg);  }
